@import "~antd/dist/antd.css";

.ant-table-thead > tr > th {
  background-color: rgb(216, 216, 216);
  border: 3px solid white;
}

tr > td.ant-table-cell {
  padding: 0;
  background-color: rgb(240, 240, 240);
  border: 3px solid white;
}

.green {
  background-color: rgb(232, 255, 243);
}

.red {
  background-color: rgb(253, 227, 221);
}

.ant-table-cell + .today {
  background-color: rgb(217, 241, 255);
}

[data-row-key="chart"] > td.ant-table-cell {
  background-color: white;
}

.highcharts-container svg {
  margin: auto;
}
